html {
  font-family: 'Open Sans', sans-serif;
}
body{
  background: rgb(20%, 20%, 20%);
    display: block;
    margin: 8px;

}


nav{
  display: block;
  float: left;
}

article{

  display: block;
  margin-left: 250px;

}

hr{
  background: black;
  height: 1px;
  border: 0;
}



main{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 600px;
  background-color: rgb(80%, 80%, 70%);
  box-shadow: 7px 10px 0 1px rgba(0,0,0,.4);
  margin-bottom: 20px;

}


.title-header{

  height: 50px;
  background:  rgb(50%, 50%, 70%);
  border-bottom: 4px solid rgb(30%, 10%, 40%);
  color: white;
  text-indent: 20px;
}

h1 {
    display: block;
    font-size: 2em;
    padding-right: 0;
    font-weight: 300;
    padding-top: 0.2em;

}

.nav-title{
  text-indent: 15px;
  background: rgb(50%, 50%, 70%);
  color: white;
  height: 30px;
  font-weight: 300;
  border-top-right-radius: 5px;
}

.Dropdown{

  margin-left: 0x;
  margin-top: 20px;
  background: rgba(100%, 100%, 100%, .6);
  width: 200px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.main-article{
  margin-right: 20px;
  margin-left: 250px;
  width: 300px;
  clear: right;
}


h2{
  font-size: 1.5em;
}
section h2 {
  font-weight: 600;
}






li:nth-of-type(even)  {
    background-color: rgba(0, 0, 0, .1);
}

li   {
  list-style: none;
  text-decoration:none;

}

ul {
  margin-left:0px ;
  display: block;
  list-style-type: none;
  width: 200px;
}



a{
  color:black;
  text-decoration:none;
}


ul li a:hover{
  color: rgb(0%,0%,70%);
  text-decoration: none;

}




footer{
  background: rgb(10%, 10%, 30%);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  text-align: center;
}

footer p:nth-child(-n+2) {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    color: white;
    display: inline;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
}
